* {
    margin: 0;
    padding: 0;
    font-family: "Jost";
    box-sizing: border-box;
}

.wrapper {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 50px;
}

.red-wrapper {
    background: #9A1212;
}

.bg {
    position: absolute;
    height: 80%;
    z-index: 1;
    overflow-x: hidden;
}

.bg_list {
    position: absolute;
    top: 30%;
    left: 40px;
    z-index: 2;
}

header {
    padding: 50px;
    width: 75%;
    display: flex;
    align-self: flex-end;
    position: relative;
    z-index: 55;
    justify-content: flex-end;
}

.button {
    width: 160px;
    height: 50px;
    background: white;
    border-radius: 30px;
    justify-self: end;
    z-index: 55;
}
.button:nth-child(2) {
    margin: 0 40px;
}
.button a {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 19px;
}

.button:hover a {
    font-weight: bold;
}
.button:hover {
    transform: scale(1.1);
}

main {
    align-self: flex-end;
    z-index: 55;
    text-align: right;
    color: white;
    max-width: 50%;
}

.vetka-item {
    position: absolute;
    right: 0;
    z-index: 2;
    bottom: 70px;
}

.text-1 {
    font-size: 100px;
    margin-bottom: 70px;;
}

.text-2 {
    font-size: 30px;
}

.solo {
    align-self: flex-end;

}

.dkp {
    width: 100%;

}

.bg-page-2{
    height: 80px;
    width: 100%;
}

.title {
    font-size: 80px;
    margin-left: 15%;
}

.dkp-text {
    height: 40px;
    background: #F3F3F3;
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 34px;
    color: white;
    white-space: nowrap;
    overflow-x: hidden;
}

.no-padding {
    padding: 0;
}

.menu img {
    height: 40px;
    margin-left: 5px;
}

.content > img {
    height: 40px;
}

footer {
    position: relative;
    width: 100%;
    height: 130px;
    background: #F3F3F3;
    display: flex;
    align-items: center;
    padding: 20px;
}

footer p {
    font-size: 25px;
}

.content {
    position: relative;
    z-index: 55;
    align-self: flex-start;
    justify-content: center;
    display: flex;
    align-items: center;
}

.content > * {
    margin: 40px;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}

.item a {
    text-decoration: none;
    color: #9A1212;
    font-size: 23px;
}

.v-2 {
    position: absolute;
    bottom: 0;
    right: 300px;
    height: 100vh;
    z-index: 2;
}
.v-1 {
    position: absolute;
    bottom: 0;
    right: 500px;
    height: 80vh;
    z-index: 2;
}

@media screen and (max-width: 1400px){
    .text-1 {
        font-size: 70px;
    }
    .text-2 {
        font-size: 22px;
    }
    header {
        width: 100%;
    }
}
@media screen and (max-width: 1200px) {
    .v-1, .v-2 {
        display: none;
    }
}
@media screen and (max-width: 1000px) {
    .bg {
        display: none;
    }
    .bg_list {
        display: none;
    }
    header {
        justify-content: center;
    }
    .button {
        justify-self: center;
    }
    main {
        max-width: 95%;
        align-self: center;
    }
    .text-1, .text-2 {
        text-align: center;
        justify-self: center;
    }
    .solo {
        align-self: center;
        margin-bottom: 20px;
    }
    .text-1 {
        margin-bottom: 0;
    }
    .title {
        margin: 0;
        align-self: center;
        text-align: center;
    }
    .content {
        align-self: center;
    }
}

@media screen and (max-width: 900px) {
    .i-1 {
        display: none;
    }

    .title {
        font-size: 40px;
    }
}
@media screen and (max-width: 700px) {
    .i-3 {
        display: none;
    }

    footer p {
        font-size: 18px;
    }
    
}

@media screen and (max-width: 600px) {
    .button {
        height: 40px;
        width: 135px;
    }
    .text-1 {
        font-size: 50px;
    }
    .text-2 {
        font-size: 18px;
    }
}

@media screen and (max-width: 500px) {
    .content > * {
        margin: 10px;
    }
    header {
        column-gap: 10px;
    }
    .button {
        min-width: 100px;
        height: 33px;
    }
    .button:nth-child(2) {
        margin: 0 10px;
    }
    .button a{
        font-size: 16px;
    }
    .menu img {
        height: 20px;
    }
}

@media screen and (max-width: 450px){
    .text-1 {
        font-size: 35px;
    }
    .text-2 {
        font-size: 15px;
    }
    .button {
        min-width: 95px;
        height: 33px;
    }
    .button:nth-child(2) {
        margin: 0 5px;
    }
}